In [1]:
import numpy as np
import pandas as pd

In [4]:
x = np.array([1, -2, 4])

In [5]:
np.sign(x)

array([ 1, -1,  1])

In [3]:
np.random.seed(42)
drug_type = np.repeat(['A', 'B', 'C'], 40)

In [8]:
x = pd.DataFrame(data = drug_type)
x.columns = ['ID']
x['ID'].value_counts()

ID
A    40
B    40
C    40
Name: count, dtype: int64

In [13]:
# gender = np.tile(np.repeat(['Male', 'Female'], 20), 3)
gender = np.tile(np.repeat(['Male', 'Female'], 40), 3)
gender_df = pd.DataFrame(data=gender)
gender_df.columns = ['gender_check1']
gender_df['gender_check1'].value_counts()

gender_check1
Male      120
Female    120
Name: count, dtype: int64

In [14]:
gender_df

    gender_check1
0            Male
1            Male
2            Male
3            Male
4            Male
..            ...
235        Female
236        Female
237        Female
238        Female
239        Female

[240 rows x 1 columns]

In [10]:
gender

array(['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female'], dtype='<U6')

In [ ]:
bp_reduction = np.concatenate([
    np.random.normal(5, 1, 40),  # Drug A
    np.random.normal(6, 1, 40),  # Drug B
    np.random.normal(4, 1, 40)   # Drug C
])